<div class="sidebar">
	<a href="/auth/inbox">Inbox</a>
	<a href="/auth/outbox">Outbox</a>
	<a href="/auth/compose">Compose</a>
</div>

<style>
	.sidebar {
		width: 200px;
		background-color: #333;
		padding: 20px;
		color: #fff;
		height: 100vh;
		position: fixed;
	}

	.sidebar a {
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 10px 0;
		font-size: 16px;
	}

	.sidebar a:hover {
		background-color: #555;
	}
</style>
